<footer class="site-footer">

  <div class="wrapper">

    <span class="footer-heading">{{ site.title }}</span>
    <span class="footer-heading">

      <a href="https://linkedin.com/in/{{ site.linkedin}}">
        <i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github"></i></a>
      <a href="https://plus.google.com/{{ site.google_plus_username }}">
        <i class="fa fa-google-plus"></i></a>
      <a href="https://www.facebook.com/{{ site.facebook_username }}">
        <i class="fa fa-facebook"></i></a>
</span>

      </div>

</footer>
